$primary: hsl(230, 35%, 7%);
$primary-opacity50: hsla(230, 35%, 7%, 50%);
$primary-opacity90: hsla(230, 35%, 7%, 90%);
$secondary: hsl(231, 77%, 90%);
$white: hsl(0, 100%, 100%);

$white-slight: hsla(0, 100%, 100%, 4%);
